<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyuf.mapper.SysCarMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lyuf.pojo.SysCar">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="sitnum" property="sitnum" />
        <result column="cityid" property="cityid" />
        <result column="price" property="price" />
        <result column="number" property="number" />
        <result column="picture" property="picture" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, sitnum, cityid, price, number, picture
    </sql>

</mapper>
